<!DOCTYPE html>
<html ng-app="calendarApp">
<head lang="en">
  <meta charset="UTF-8">
  <title>Practice Scheduler</title>
  <script src="/js/angular.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/jquery-1.11.1.min.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/home.js"></script>
  <link href="/css/site.css" rel="stylesheet" type="text/css">
</head>
<body class="schedule" ng-controller="calendarController">
<div id="previous"></div>
<div id="next"></div>
<h1>Week of April 20-26</h1>
<div style="min-width: 850px;">
  <div ng-repeat="day in days" class="weekday">
    <h2 ng-bind="day.name"></h2>
    <div ng-repeat="entry in day.events" class="entry" ng-class="{open: entry.open}">
      <div class="title">
        <span ng-bind="entry.startTime"></span>
        <span ng-bind="entry.fieldName"></span>
      </div>
      <span ng-bind="entry.team"></span>
    </div>
  </div>
</div>

</body>
</html>

