<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Practice Scheduler</title>
  <script src="/js/angular.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/jquery-1.11.1.min.js"></script>
  <script src="/js/teams.js"></script>
  <script src="/js/fields.js"></script>
  <script src="/js/requests.js"></script>
  <script src="/js/calendar.js"></script>
  <script src="/js/util.js"></script>

  <link href="/css/site.css" rel="stylesheet" type="text/css">
</head>
<body class="teams" ng-app="practiceApp">
  <h1>Admin</h1>

  <div class="tab-header active" data-tab="teamsTab">Teams</div>
  <div class="tab-header" data-tab="fieldsTab">Fields</div>
  <div class="tab-header" data-tab="requestsTab">Requests</div>
  <div class="tab-header" data-tab="calendarTab">Calendar</div>

  <div id="teamsTab" class="tab active" ng-controller="TeamController">

    <div class="row header">
      <div class="col" style="width: 140px;">Coach</div>
      <div class="col" style="width: 150px;">Level</div>
    </div>
    <div ng-repeat="team in teams" class="row">
      <div ng-bind="team.coach" class="col" style="width: 140px;"></div>
      <div class="col" style="width: 150px;">
        <span ng-bind="team.level"></span>
        -
        <span ng-bind="team.gender"></span>
      </div>
      <div class="col">
        <button role="link" ng-click="edit(team._id)">edit</button>
      </div>
    </div>

    <button ng-click="newTeam()">create new team</button>

    <div ng-show="selectedTeam" class="edit-box">
      <h2 ng-bind="selectedTeamAction"></h2>
      <div class="row">
        <div class="label">Coach:</div>
        <div class="value">
          <input ng-model="selectedTeam.coach">
        </div>
      </div>
      <div class="row">
        <div class="label">Level:</div>
        <div class="value">
          <input ng-model="selectedTeam.level">
        </div>
      </div>
      <div class="row">
        <div class="label">Gender:</div>
        <div class="value">
          <select ng-options="value as value for value in genderValues" ng-model="selectedTeam.gender">
          </select>
        </div>
      </div>
      <button ng-click="updateTeam()">Update</button>
      <button ng-click="cancelEdit()">Cancel</button>
    </div>

    <div ng-show="selectedTeam" class="modal-bg"></div>


  </div>
  <div id="fieldsTab" class="tab" ng-controller="FieldController">

    <div class="row header">
      <div class="col" style="width: 60px;">Code</div>
      <div class="col" style="width: 120px;">Description</div>
    </div>
    <div ng-repeat="field in fields" class="row">
      <div ng-bind="field.code" class="col" style="width: 60px;"></div>
      <div ng-bind="field.description" class="col" style="width: 120px;"></div>
      <div class="col">
        <button ng-click="edit(field._id)">edit</button>
      </div>
    </div>

    <button ng-click="newField()">create new field</button>

    <div ng-show="selectedField" class="modal-bg"></div>

    <div ng-show="selectedField" class="edit-box">
      <h2 ng-bind="selectedFieldAction"></h2>
      <div class="row">
        <div class="label">Code:</div>
        <div class="value">
          <input ng-model="selectedField.code">
        </div>
      </div>
      <div class="row">
        <div class="label">Description:</div>
        <div class="value">
          <input ng-model="selectedField.description">
        </div>
      </div>
      <button ng-click="updateField()">Update</button>
      <button ng-click="cancelEdit()">Cancel</button>
    </div>

  </div>
  <div id="requestsTab" class="tab" ng-controller="RequestController">
    <div class="row header">
      <div class="col" style="width: 160px;">Team</div>
      <div class="col" style="width: 140px;">Field</div>
      <div class="col" style="width: 110px;">Date</div>
      <div class="col" style="width: 110px;">Start Time</div>
    </div>
    <div ng-repeat="request in requests" class="row">
      <div ng-bind="request.teamName" class="col" style="width: 160px;"></div>
      <div ng-bind="request.fieldName" class="col" style="width: 140px;"></div>
      <div ng-bind="request.date" class="col" style="width: 110px;"></div>
      <div ng-bind="request.startTime" class="col" style="width: 110px;"></div>
    </div>

  </div>

  <div id="calendarTab" class="tab" ng-controller="CalendarController">
    <div class="row header">
      <div class="col" style="width: 200px;">Start Date</div>
      <div class="col" style="width: 80px;">Status</div>
      <div class="col" style="width: 200px;">Actions</div>
    </div>
    <div ng-repeat="week in weeks" class="row">
      <div ng-bind="week.startDate" class="col" style="width: 200px;"></div>
      <div ng-bind="week.status" class="col" style="width: 80px;"></div>
      <div class="col" style="width: 200px;">
        <button ng-show="week.status == 'open'">close week</button>
        <button ng-click="openWeek(week)" ng-show="week.status == 'future'">open week</button>
      </div>
    </div>

    <button ng-click="createCalendar()">Create Season Calendar</button>

    <div ng-show="selectedWeek" class="modal-bg"></div>
    <div ng-show="selectedWeek" class="edit-box">
      <h2 ng-bind="selectedWeekAction"></h2>
      <div class="row">
        <div class="label">Start Date:</div>
        <div class="value">
          <input ng-model="selectedWeek.startDate">
        </div>
      </div>
      <button ng-click="generateCalendar()">Create</button>
      <button ng-click="cancelEdit()">Cancel</button>
      <div ng-bind="updateMessage" class="error"></div>
    </div>
  </div>

</body>

<script>
  $(document).ready(function(e){
    $('.tab-header').click(function(e){
      var tab = $(this).data('tab');
      $('.tab').removeClass('active');
      $('#' + tab).addClass('active');
      $('.tab-header').removeClass('active');
      $(this).addClass('active');
    })
  })
</script>
</html>