<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Practice Scheduler</title>
  <script src="/js/angular.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/reoccurs.js"></script>
  <link href="/css/site.css" rel="stylesheet" type="text/css">
</head>
<body class="reoccurs" ng-app="reoccurApp">
<h1>Reoccuring Schedules</h1>
<div ng-controller="ReoccurController">
  <table>
    <tr>
      <th>
        Coach
      </th>
      <th>
        Day of Week
      </th>
      <th>
        Time
      </th>
      <th>
        Field
      </th>
    </tr>
    <tr ng-repeat="reoccur in reoccurs">
      <td ng-bind="reoccur.coachId"></td>
      <td ng-bind="reoccur.dayOfWeek"></td>
      <td ng-bind="reoccur.fieldId"></td>
      <td>
        <button ng-click="edit(reoccur._id)">edit</button>
      </td>
    </tr>
  </table>
  <button ng-click="newReoccur()">create new reoccuring schedule</button>

  <div ng-show="selectedReoccur" class="edit-box">
    <h2 ng-bind="selectedReoccurAction"></h2>
    <div class="row">
      <div class="label">Coach:</div>
      <div class="value">
        <input ng-model="selectedReoccur.coachId">
      </div>
    </div>
    <div class="row">
      <div class="label">Day of Week:</div>
      <div class="value">
        <input ng-model="selectedReoccur.dayOfWeek">
      </div>
    </div>
    <div class="row">
      <div class="label">Field:</div>
      <div class="value">
        <select>
        </select>
      </div>
    </div>
    <button ng-click="updateReoccur()">Update</button>
    <button ng-click="cancelEdit()">Cancel</button>
  </div>


</div>

</body>
</html>