body{
  font-family: Helvetica;
}
h1 {
  font-size: 18px;
}
.schedule h1 {
  text-align: center;
}

h2 {
  font-size: 16px;
}
.request h1 {
  text-align: left;
}
.weekday {
  width: 14%;
  float: left;
  min-height: 250px;
  margin: .5px;
  background: #eee;
  border-radius: 8px;
}
.weekday h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
  border-bottom: 1px solid #bbb;
}
.entry {
  margin: 4px;
  background-color: #9bf;
  font-size: 10px;
  padding: 4px;
}

.entry.open {
  background-color: #ffa;
  cursor: pointer;
}

.title {
  font-weight: bold;
}

.row .label {
  display: inline-block;
  min-width: 100px;
  text-align: right;
  margin: 4px;
}

.row .value {
  display: inline-block;
}

button {
  min-width: 100px;
  height: 25px;
  background: #ddd;
  margin-left: 20px;
}

.schedule #previous{
  cursor: pointer;
  content: '';
  background: url('/images/left-arrow.jpg') no-repeat;
  background-size: 20px 28px;
  height: 27px;
  width: 21px;
  position: absolute;
  left: 12px;
}
.schedule #next{
  cursor: pointer;
  content: '';
  background: url('/images/right-arrow.jpg') no-repeat;
  background-size: 20px 28px;
  height: 27px;
  width: 21px;
  position: absolute;
  right: 34px;
}
a {
  cursor: pointer;
  color: #22f;
}
a:hover {
  color: #55f;
}

.edit-box {
  position: absolute;
  top: 110px;
  left: 500px;
  background: #eee;
  border-radius: 6px;
  padding: 15px;
  padding-top: 0px;
}
table {
  border: 1px solid #444;
  margin-bottom: 10px;
  padding: 10px;
}

.tab-header {
  border: 1px solid #888;
  border-top-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  padding: 10px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: 1px;
  cursor: pointer;
}

.tab-header.active {
  border-bottom: none;
  background: white;
  z-index:100;
  top: 1px;
  padding: 11px;
  cursor: default;
}

.tab {
  padding: 10px;
  display: none;
}

.tab.active {
  display:block;
  width: 900px;
  min-height: 300px;
  border: 1px solid #888;
  z-index: 50;
}